<h1>Admin Dashboard</h1>

<table class="table  table-hover table-sm">
<thead class="table-secondary">
<tr>
   <th>Stock Description</th>
   <th>Amount</th>
 </tr>
</thead>
<tbody>
  <tr>
     <th scope="row">Products</th>
     <td><%= @products.count %></td>

  </tr>
  <tr>
     <th scope="row">Catagories</th>
     <td><%= @category.count %></td>

  </tr>

</tbody>
</table>
